# Copy this file to .env and fill in your real values

MASTER_SETUP_KEY=CHANGE_ME
JWT_SECRET=CHANGE_ME
NODE_ENV=CHANGE_ME
HELMET_ENABLED=CHANGE_ME
CORS_ENABLED=CHANGE_ME
INSTALLER_ENABLED=CHANGE_ME
RELEASE_LOCKDOWN=CHANGE_ME
ALLOW_BOOTSTRAP=CHANGE_ME
ALLOW_INSTALLER=CHANGE_ME
AUTO_BACKUP_ENABLED=CHANGE_ME
AUTO_BACKUP_CRON=CHANGE_ME
AUTO_BACKUP_KEEP=CHANGE_ME
DB_DIALECT=sqlite
DB_STORAGE=./database.sqlite
DB_HOST=CHANGE_ME
DB_PORT=CHANGE_ME
DB_NAME=CHANGE_ME
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME
DUCKDNS_DOMAIN=usgdataserver
DUCKDNS_TOKEN=YOUR_DUCKDNS_TOKEN
